<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAKA Group Dashboard</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<div>
    <nav>
        <!-- Links to each day's page -->
        <div>
        <a href="/">Home</a>
        <a href="/monday/">Monday</a>
        <a href="/tuesday/">Tuesday</a>
        <a href="/wednesday/">Wednesday</a>
        <a href="/thursday/">Thursday</a>
        <a href="/friday/">Friday</a>
        <a href="/saturday/">Saturday</a>
        <a href="/sunday/">Sunday</a>
        </div>
        <br>
    </nav>

    <header>
        <div class="company-info">
            <h1>
                CAKA Group Dashboard
            </h1>
            <img src="\static\images\megabytes_logo.png"  alt="Company Logo">
            <div class="date-selector">
                <h2>
                    Date Selector
                </h2>
                <form>
                    <label for="selectedDate">Select Date:</label>
                    <input type="date" id="selectedDate" name="selectedDate">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </header>


    <p class="centered-text">
        Megabytes Cafe is a coffee shop located in the heart of the city.
    </p>
    <p class="centered-text">
        We offer a wide variety of coffee, tea, and pastries. 
    </p>
    <p class="centered-text"> 
        Our menu is always changing to reflect the latest trends and flavours.
    </p>
    <hr>

    <br>
    <h2 class="centered-text">
        Data Input
    </h2>
    <p class="centered-text">
        Please Type Data According to Your Till Report, in the following order:
    </p>
    <p class="days_text">
        Monday -> Tuesday -> Wednesday -> Thursday -> Friday -> Saturday -> Sunday
    </p>
    <br>
    <br>
    <table class="input_table">
        <form action="/submit" method="post">
            <tr>
                <th></th>
                <th>Day of the Week</th>
                <th>Total Income</th>
                <th>Highest Spend</th>
                <th>Best Selling Item</th>
                <th>Worst Selling Item</th>
                <th>Average Basket Spend</th>
                <th>Staff MVP</th>
                <th></th>
            </tr>
            <tr>
                <th>Input Data</th>
                <th><input type="text" id="day_id" name="day_id"></th>
                <th><input type="text" id="total_income" name="total_income"></th>
                <th><input type="text" id="highest_spend" name="highest_spend"></th>
                <th><input type="text" id="best_selling_item" name="best_selling_item"></th>
                <th><input type="text" id="worst_selling_item" name="worst_selling_item"></th>
                <th><input type="text" id="avg_basket_spend" name="avg_basket_spend"></th>
                <th><input type="text" id="staff_mvp" name="staff_mvp"> </th>
                <th><button type="submit">Submit Data</button></th>
            </tr>
        </form>
    </table>
    <hr>

    <div>
        {% if week_data %}
            <br>
        
            <h2 class="centered-text">
                Megabytes Week Income
            </h2>

            <div>
                <p><img class="week_income_chart" src="\static\images\week_income.png"></p>
            </div>
        
            <hr>

            <h2 class="centered-text">
                Daily Sales Summary
            </h2>
            <br>
            <table class="sales_table">
                <tr>
                    <th width="100"></th>
                    <th width="100" class="table_border">Day</th>
                    <th width="100" class="table_border">Total Income</th>
                    <th width="100" class="table_border">Highest Spend</th>
                    <th width="150" class="table_border">Best Selling Item</th>
                    <th width="250" class="table_border">Worst Selling Item</th>
                    <th width="200" class="table_border">Average Basket Spend</th>
                    <th width="100" class="table_border">Staff MVP</th>
                </tr>
            </table>

            {% for data in week_data %}
                <div>
                    {{ data.id }}
                    <table class="sales_table">
                        <tr>
                            <td width="100"></td>
                            <td width="100" class="table_border">{{ data.day_id }}</td>
                            <td width="100" class="table_border">{{ data.total_income }}</td>
                            <td width="100" class="table_border">{{ data.highest_spend }}</td>
                            <td width="150" class="table_border"> {{ data.best_selling_item }}</td>
                            <td width="250" class="table_border">{{ data.worst_selling_item }}</td>
                            <td width="200" class="table_border">{{ data.avg_basket_spend }}</td>
                            <td width="100" class="table_border">{{ data.staff_mvp }}</td>
                        </tr>
                    </table>                                          
                </div> 
            {% endfor %}

            <hr>
            <br>
            <h2 class="centered-text">
                Details of Week Days
            </h2>
            <p class="centered-text">
                Check Daily Sales in detail for each Day of the Week.<br>
                Click on the links below.
            </p>
            <br>

            <nav>
                <!-- Links to each day's page -->
                <div>
                    <table class="day-container">
                        <tr>
                            <td width="fit-content">
                                <a href="/">Home</a>
                            </td>
                            <td width="fit-content">
                                <a href="/monday/">Monday</a>
                            </td>
                            <td width="fit-content">
                                <a href="/tuesday/">Tuesday</a>
                            </td>
                            <td width="fit-content">
                                <a href="/wednesday/">Wednesday</a>
                            </td>
                        </tr>
                        <tr>
                            <td width="fit-content">
                                <a href="/thursday/">Thursday</a>
                            </td>
                            <td width="fit-content">
                                <a href="/friday/">Friday</a>
                            </td>
                            <td width="fit-content">
                                <a href="/saturday/">Saturday</a>
                            </td>
                            <td width="fit-content">
                                <a href="/sunday/">Sunday</a>
                            </td>
                            
                        </tr>
                        
                    </table>
                </div>

                <br>
            </nav>
        {% endif %}       
    </div>
</div>
</body>
</html>