{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="form-container">

            <h2>Hello! Today is Sunday</h2>
        </div>

        <br>
        <hr>

        {% if week_dat_sun %}
            <div>
                <p>Here's What Happened Today.</p>

                
                {% if sunday %}
                    {{ sunday }}
                {% endif %}
                <br>
                {% if income %}
                    Total: {{ income }}
                {% endif %}
                <br>
                {% if spend %}
                    Highest Spend: {{ spend }}
                {% endif %}
                <br>
                {% if best_sell %}
                    Best Selling Item: {{ best_sell }}
                {% endif %}
                <br>
                {% if worst_sell %}
                    Worst Selling Item: {{ worst_sell }}
                {% endif %}
                <br>
                {% if basket %}
                    Average Basket Spend: {{ basket }}
                {% endif %}
                <br>
                {% if staff %}
                    Staf MVP: {{ staff }}
                {% endif %}
                <br>
            </div>

    <br>
    <hr>
            <div class="charts-container">
                <img class="chart" src="\static\images\Number of items sold on Sunday.png" alt="Number of items sold on Sunday">
                <img class="chart" src="\static\images\Income by Staff Member on Sunday.png" alt="Income by Staff Member on Sunday">
                <img class="chart" src="\static\images\Payment Methods used Sunday.png" alt="Payment Methods used Sunday">
            </div>
        {% endif %}




    </div>
{% endblock %}