{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="form-container">

            <h2>Hello! Today is Tuesday</h2>
        </div>

        <br>
        <hr>

        {% if week_dat_tues %}
            <div>
                <p>Here's What Happened Today.</p>
                
                {% if tuesday %}
                    {{ tuesday }}
                {% endif %}
                <br>
                {% if income %}
                    Total: {{ income }}
                {% endif %}
                <br>
                {% if spend %}
                    Highest Spend: {{ spend }}
                {% endif %}
                <br>
                {% if best_sell %}
                    Best Selling Item: {{ best_sell }}
                {% endif %}
                <br>
                {% if worst_sell %}
                    Worst Selling Item: {{ worst_sell }}
                {% endif %}
                <br>
                {% if basket %}
                    Average Basket Spend: {{ basket }}
                {% endif %}
                <br>
                {% if staff %}
                    Staf MVP: {{ staff }}
                {% endif %}
                <br>
            </div>

    <br>
    <hr>
            <div class="charts-container">
                <img class="chart" src="\static\images\Number of items sold on Tuesday.png" alt="Number of items sold on Tuesday">
                <img class="chart" src="\static\images\Income by Staff Member on Tuesday.png" alt="Income by Staff Member on Tuesday">
                <img class="chart" src="\static\images\Payment Methods used Tuesday.png" alt="Payment Methods used Tuesday">
            </div>
        {% endif %}

    </div>
{% endblock %}